body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;

	> header, > footer {
		box-shadow: 0 0 3px #000;
	}
}


@import "main.less";
@import "nav.less";
@import "player.less";
@import "component.less";
@import "queue.less";
@import "library.less";
