*, *::before, *::after { box-sizing: inherit; }

html {
	background-color: var(--fg);
}

body {
	box-sizing: border-box;
	font-family: lato, sans-serif;
	line-height: 1.25;
	background-color: var(--bg);
	color: var(--fg);
	text-shadow: var(--shadow);
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100vh;

	> header, > footer {
		box-shadow: 0 0 3px #000;
	}
}

input, select, button {
	color: inherit;
	font: inherit;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background-color: transparent;
	padding: 0;
	border: none;
	line-height: 1;
	cursor: pointer;
	flex-shrink: 0;

	.icon { vertical-align: middle; }
}

.long-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multiline {
	display: flex;
	flex-direction: row;
	align-items: center;

	h2 { font-weight: normal; }
}

@import "font.less";
@import "icons.less";
@import "main.less";
@import "nav.less";
@import "player.less";
@import "component.less";
@import "queue.less";
@import "library.less";
@import "fs.less";
@import "playlists.less";
@import "yt.less";
@import "search.less";
@import "art.less";
@import "variables.less";
