.flex-row {
	&:not([hidden]) { display: flex; }
	flex-direction: row;
	align-items: center;
}

.flex-column {
	&:not([hidden]) { display: flex; }
	flex-direction: column;
}

.long-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.multiline {
	.flex-row;

	h2 { font-weight: normal; }
}
