.flex-row {
	&:not([hidden]) { display: flex; }
	flex-direction: row;
	align-items: center;
}

.flex-column {
	&:not([hidden]) { display: flex; }
	flex-direction: column;
}

.no-wrap {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
.multiline {
	.flex-row;

	h2 { font-weight: normal; }
}
*/

.selectable {
	border-left: 4px solid transparent;
	cursor: pointer;

	&.selected {
		border-left-color: var(--primary);
	}
}

.item {
	.flex-row;
	.selectable;
	padding: 8px 4px;

	&:nth-child(odd) { // FIXME nutno poresit lepe s ohledem na search
		background-color: var(--bg-alt);
	}
}