.flex-row {
	&:not([hidden]) { display: flex; }
	flex-direction: row;
	align-items: center;
}

.flex-column {
	&:not([hidden]) { display: flex; }
	flex-direction: column;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
}

.font-large {
	font-size: 18px;
	line-height: 24px;
}

.selectable {
	cursor: pointer;
	position: relative; // kotva pro selected::before

	&.selected {
		color: var(--primary);
		background-color: var(--primary-tint);

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: var(--border-width);
			background-color: var(--primary);
		}
	}
}

.item {
	.flex-row;

	&:nth-child(odd) {
		background-color: var(--bg-alt);
	}

	.selectable; // az po nth-child, aby byl vyber pozdeji

	padding: 8px;


	> .icon {
		margin-right: var(--icon-spacing);
		filter: drop-shadow(var(--text-shadow));
	}

	.title {
		.font-large;
		.ellipsis;

		font-weight: bold;
		min-width: 0;
	}

	button {
		&:first-of-type { margin-left: auto; }
		.icon { width: 32px; }
	}
}
