nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	.flex-row;

	li {
		flex: 1 0 0;

		.flex-column;
		align-items: center;

		cursor: pointer;
		padding: 4px 0 8px 0;

		border-top: 4px solid transparent;

		.icon {
			margin-right: 4px;
		}

		&.active {
			border-top-color: var(--primary);
			color: var(--primary);
			background-color: rgb(var(--primary-raw), 0.1);
		}

		@media (max-width: 480px) {
			flex-direction: row;
			justify-content: center;
			span:not([id]) { display: none; }
		}
	}
}
