nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;

	li {
		text-align: center;
		flex-grow: 1;
		line-height: 40px;

		&:hover { background-color:red;}

		&.active {
			background-color: green;
		}
	}
}
