.search {
	display: flex;
	align-items: center;
	margin-left: auto;

	.icon {
		width: 32px;
		cursor: pointer;
	}

	input {
		border: none;
		color: inherit;
		background-color: inherit;
		border-bottom: 1px solid var(--fg);
		transition: all 300ms;
		width: 0;
		padding: 0;
	}

	&.open {
		input {
			width: 10vw;
		}
	}
}