.search {
	display: flex;
	align-items: center;
	max-width: 50%;
	margin-left: auto;
	transition: all 300ms;

	.icon {
		width: 32px;
		cursor: pointer;
	}

	input {
		border: none;
		color: inherit;
		background-color: inherit;
		border-bottom: 1px solid var(--fg);
		xtransition: all 300ms;
		width: 0;
		padding: 0;
	}

	&.open {
		flex-grow: 1;
		input {
			flex-grow: 1;
		}
	}
}