:root {
	--font-size-large: 112.5%;
	--icon-spacing: 4px;
	--primary: rgb(var(--primary-raw));
	--spacing: 8px;
	--box-shadow: 0 0 3px #000;
}

:root[data-theme=light] {
	--fg: #333;
	--bg: #f0f0f0;
	--bg-alt: #e0e0e0;
	--text-shadow: none;
}

:root[data-theme=dark] {
	--fg: #f0f0f0;
	--bg: #333;
	--bg-alt: #555;
	--text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

:root[data-color=dodgerblue] {
	--primary-raw: 30, 144, 255;
}

:root[data-color=darkorange] {
	--primary-raw: 255, 140, 0;
}

:root[data-color=limegreen] {
	--primary-raw: 50, 205, 50;
}

@media (max-width: 480px) {
	:root {
		--spacing: var(--icon-spacing);
	}
}
