*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  background-color: var(--fg);
}
body {
  box-sizing: border-box;
  font-family: lato, sans-serif;
  line-height: 1;
  background-color: var(--bg);
  color: var(--fg);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body > header,
body > footer {
  box-shadow: 0 0 3px #000;
}
input,
select,
button {
  color: inherit;
}
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  padding: 0;
  border: none;
  line-height: 1;
  cursor: pointer;
  flex-shrink: 0;
}
.art img {
  vertical-align: top;
}
@font-face {
  font-family: 'Lato';
  src: url('font/LatoLatin-Regular.woff2') format('woff2');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('font/LatoLatin-bold.woff2') format('woff2');
  font-style: bold;
  font-weight: normal;
}
.icon {
  vertical-align: middle;
  width: 24px;
}
.icon path:not([fill]),
.icon polygon:not([fill]),
.icon circle:not([fill]) {
  fill: currentColor;
}
main {
  flex-grow: 1;
  overflow: hidden;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav ul .icon {
  display: block;
  margin: 4px auto;
}
nav ul li {
  text-align: center;
  flex: 1 0 0;
  cursor: pointer;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
nav ul li.active {
  border-top-color: var(--primary);
}
#player {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#player:not([data-state=play]) .pause {
  display: none;
}
#player[data-state=play] .play {
  display: none;
}
#player:not([data-flags~=random]) .random,
#player:not([data-flags~=repeat]) .repeat {
  opacity: 0.5;
}
#player .info {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#player .controls {
  white-space: nowrap;
  text-align: center;
}
#player .controls .icon {
  width: 64px;
}
#player .misc {
  display: flex;
  flex-direction: column;
  width: 48px;
}
#player .misc .icon {
  width: 48px;
}
.component {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.component ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
.component li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
.component h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.component h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
.component li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  .component .icon {
    width: 32px;
  }
}
#queue {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#queue ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#queue li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
#queue h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#queue h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
#queue li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  #queue .icon {
    width: 32px;
  }
}
#queue .current * {
  font-weight: bold !important;
}
#library {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#library ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#library li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
#library h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#library h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
#library li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  #library .icon {
    width: 32px;
  }
}
#library .art img {
  width: 64px;
}
#library .tiles {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2px;
}
#library .tiles li {
  text-align: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
  height: 200px;
}
#library .tiles li h2 {
  font-size: 150%;
  margin: 4px 0;
}
#fs {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#fs ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#fs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
#fs h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#fs h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
#fs li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  #fs .icon {
    width: 32px;
  }
}
#fs .group {
  cursor: pointer;
}
#playlists {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#playlists ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#playlists li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
#playlists h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#playlists h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
#playlists li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  #playlists .icon {
    width: 32px;
  }
}
#yt {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#yt ul {
  flex-grow: 1;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}
#yt li {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}
#yt h2 {
  flex-grow: 1;
  font-size: 100%;
  font-weight: normal;
  margin: 0;
  margin-left: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#yt h2 .icon {
  margin-right: 4px;
  color: var(--primary);
}
#yt li:nth-child(odd) {
  background-color: #555;
}
@media (pointer: coarse) {
  #yt .icon {
    width: 32px;
  }
}
#yt .go {
  width: 96px;
  height: 96px;
}
#yt .go:disabled {
  position: relative;
}
#yt .go:disabled::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-top: 3px solid var(--primary);
  border-radius: 50%;
  animation: rotate linear 3s infinite;
}
#yt p {
  margin: 16px 8px;
  white-space: pre-wrap;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
:root {
  --primary: dodgerblue;
  --fg: #fff;
  --bg: #333;
}
