cyp-app {
	.flex-column;

	box-sizing: border-box;
	font-family: lato, sans-serif;
	line-height: 1.25;
	background-color: var(--bg);
	color: var(--fg);
	text-shadow: var(--text-shadow);
	max-width: 800px;
	margin: 0 auto;
	overflow: hidden;
	height: 100vh;
}
